<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppe Clone - Products</title>
    <%- include('common/linkrels.ejs') %>
</head>
<body>
    <div class="content">
        <%- include('common/nav.ejs') %>
        <div class="back">
            <div class="row">
                <div class="col">
                    <a class="btn" href="/">< </a>&nbsp;<span class="back-shop-name"><strong><%= shop.name %></strong></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="products">
                <div class="row">
                    <% for( let i = 0; i < products.length; i++ ) { %>
                        <a href="/shops/<%= shop.id %>/product/<%= products[i].id %>">
                            <div class="col-md-12 gap">
                                <div class="media">
                                    <img src="<%= products[i].image %>" class="mr-3" alt="<%= products[i].name %>">
                                    <div class="media-body">
                                    <h5 class="mt-0"><%= products[i].name %></h5>
                                    <%= products[i].description %>
                                    </div>
                                </div> 
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('common/script.ejs') %>
</body>
</html>